.dropdown-container {
  margin: 10px;
}

.dropdown {
  background-color: #707070;
  color: black;
  padding: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
}

.dropdown-option {
  color: black;
}

.utils {
  display: flex;
  margin-left: 10px;
}
